@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@theme {
  --font-sans: "Poppins", sans-serif;
  --color-primary: #afd275;
  --color-secondry: #2f4021;
  --breakpoint-tb: 77rem;
  --breakpoint-st: 1rem;
}

body {
  @apply font-sans;
}

a.active {
  color: #afd275;
}

div ul ul li:hover {
  color: white;
}
@layer components {
  .pt6design {
    /* padding: 0 1vw; */
    width: 80px;
    background-color: #58654d17;
    color: #afd275;
    border-radius: 1rem;
    font-size: 65px;
  }
}
